{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'app/learner3/main.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="top">
        <div class="header-cont">
            <div class="logo"> <span class="bold">MAGOMED </span> - the story of a man</div>
            <img src="{% static 'app/learner3/menu.svg' %}" alt="Burger Menu Icon" class="burger-icon">
            <nav> <a href="#">ABOUT</a> <a href="#"> CONTACT</a> <a href="#">SALES</a> </nav>
        </div>
    </div>


    <div class="container">
        <div class="col">
            <p>BOX1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos et vel unde vitae voluptas, perspiciatis sunt inventore dolores ut est blanditiis itaque, veniam iste libero consequuntur. Earum perferendis ipsam corporis?
            Atque illum odit repellendus blanditiis, cum nesciunt voluptatibus quia soluta quos voluptate odio aliquid fugiat velit perspiciatis ad corrupti exercitationem ullam quod tempora amet unde laboriosam iure sint inventore! Beatae.
            Libero sunt itaque ipsum eius vero. Veniam, recusandae. Laudantium nihil fugit cupiditate dolores, ad est itaque impedit ex repellat sit saepe asperiores, ratione incidunt rem architecto perferendis voluptate facilis et!
            Cum minima laboriosam rem officiis et deserunt facere. Provident reprehenderit, consectetur eos, vero dolor odit, modi tempore obcaecati nihil inventore optio fuga. Soluta minus molestiae error, in sed laborum eos.
            Dicta itaque, sapiente corrupti aperiam necessitatibus commodi fugiat! Tenetur maiores itaque excepturi, veniam accusamus esse natus cupiditate! Similique, iure dolorum veritatis magnam nobis, dolorem obcaecati debitis expedita libero maiores ex.</p>
        </div>
        <div class="col">
            <h1>BOX2</h1>
        </div>
        <div class="col">
            <h1>BOX3</h1>
        </div>
        <div class="col">
            <h1>BOX4</h1>
        </div>
        <div class="col">
            <h1>BOX5</h1>
        </div>
        <div class="col">
            <h1>BOX6</h1>
        </div>
        <div class="col">
            <h1>BOX7</h1>
        </div>
        <div class="col">
            <h1>BOX8</h1>
        </div>
        <div class="col">
            <h1>BOX9</h1>
        </div>
        <div class="col">
            <h1>BOX10</h1>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'app/learner3/jquery-nav.js' %}"></script>
</body>
</html>
