{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'app/learner2/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/learner2/main.css' %}">
    <title>Pen Power</title>
</head>

<body>
    <div class="head-image"></div>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{% static 'app/learner2/images/pen2.svg' %}" alt="pen logo">
            </div>
            <div class="header-menu">
                <div class="header-menu-top">
                    <div class="header-menu-top-left">
                        <a href="#">Расчет стоимости</a>
                        <a href="#">Обратная связь</a>
                    </div>
                    <div class="header-menu-top-right">
                        <div class="date">Пн-Пт:10:00-18:00
                            <img src="{% static 'app/learner2/images/whatsapp.png' %}" alt="whatsapp">
                            <img src="{% static 'app/learner2/images/vk.png' %}" alt="vk">
                        </div>
                        <a href="#">+79895555555</a>
                        <a href="#">+79285555555</a>
                    </div>
                </div>
                <div class="header-menu-bottom">
                    sdfsdfsdfasdfdfffffffffffffffdfdsfdsf
                </div>
            </div>
        </header>
    </div>
    
</body>

</html>