{% load static %}
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}">

</head>

<body>
  <div class="container">
    <header></header>
    <nav></nav>
    <main> <img class="images" src="{% static 'app/images/image.jpg' %}" alt="beach"> </main>
    <footer></footer>
  </div>
</body>

</html>