{% load static %}
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}">

</head>

<body>
  <div class="container">
    <header>
      <div class="logo">logo</div>
      <div class="nav-bar">nav bar here</div>
    </header>

    <nav>
      <a href="">HOME </a>
      <a href="">CONTACTS </a>
      <a href="">OTHERS </a>
      <a href="">HELLO </a>
      <a href="">WELP</a>
    </nav>

    <main> <a href="mailto:detalikota@gmail.com?Subject=Reservation"> Make a reservation! </a></main>
    <section class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1062.1889848587402!2d47.46918947703249!3d42.982568713026566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb39a90db86dd8a93!2sEllco!5e0!3m2!1sen!2sru!4v1618318742683!5m2!1sen!2sru" width="1024" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </section>
    <footer></footer> 
  </div>
  <div class="flexing">
    <div class="card1"></div>
    <div class="card2"></div>
    <div class="card3"></div>
  </div>
</body>

</html>