html {
    height: 100%;
}
body {
    background-image: url(images/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header {
    height: 100px;
    background-color: blue;
}
nav {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

footer {
    height: 90px;
    background-color: grey;
}

nav a {
    text-decoration: none;
    color:rgb(168, 1, 245);
    padding-left: 10px;
    padding-right: 10px;
}
main {
    background-color: bisque;
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;    
    padding-bottom: 20px;
}