.col {

}
.square {
    width: 100px;
    height: 100px;
    background: red;

  }
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
  }
.triangle {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: red transparent;
  }
